.button {
	-webkit-box-shadow: 0 1px 0 #a1a1a1 inset;
	-moz-box-shadow: 0 1px 0 #a1a1a1 inset;
	box-shadow: 0 1px 0 #a1a1a1 inset;
	border: 1px solid #666;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #888;
	font: bold 14px Arial,Helvetica,sans-serif;
	color: #fff!important;
	text-decoration: none!important;
	text-align: center;
	display: block;
	height: 30px;
	line-height: 30px;
	float: left;
	cursor: pointer;
	white-space: nowrap;
	padding: 0;
	margin: 0;
	outline: 0;
}

.button.large.green.create span {
	background-image: url(../images/buttons/icons.png);
	background-repeat: no-repeat;
	background-position: left -52px;
	padding-left: 41px;
}

.button.large span {
	padding: 0 19px;
}

.button span, .button.medium span {
	display: block;
	min-width: 55px;
	padding: 0 9px;
}

.button span {
	color: #fff!important;
	text-decoration: none!important;
}

.button.right {
	float: right;
}

.button.large {
	background-position: left -104px;
	font: bold 18px Arial,Helvetica,sans-serif;
	margin: 0 0 17px 5px;
	height: 43px;
	line-height: 43px;
}

.button.large input {
	font: bold 18px Arial,Helvetica,sans-serif;
	color: #fff;
	background: 0;
	padding: 0 20px;
	border: 0;
	outline: 0;
	cursor: pointer;
	width: 228px;
	height: 43px;
}

.button.large.inline {
	margin: 0 4px;
	vertical-align: baseline;
}

.button.large.inline input {
	min-width: 228px;
	width: auto;
}

.button.large.green {
	background-position: left -298px;
}

.button.large.green input {
	-webkit-text-shadow: 0 0 1px rgba(0,0,0,0.4);
	-moz-text-shadow: 0 0 1px rgba(0,0,0,0.4);
	text-shadow: 0 0 1px rgba(0,0,0,0.4);
}

.button.inline {
	float: none;
	display: inline-block;
	vertical-align: middle;
	margin-top: 0;
	margin-bottom: 0;
}

.green {
	color: #628e0e;
}

.button.green {
	text-shadow: 0 0 1px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 1px 0 #9dd04b inset;
	-moz-box-shadow: 0 1px 0 #9dd04b inset;
	box-shadow: 0 1px 0 #9dd04b inset;
	border: 1px solid #659c17;
	
	background-color: #85c51f;
	-webkit-text-shadow: 0 0 1px rgba(0,0,0,0.4);
	-moz-text-shadow: 0 0 1px rgba(0,0,0,0.4);
}

a.button, div.button, button.button span {
	line-height: 26px;
}

a.button:hover {
	text-decoration:none!important;
}